.container-slider {
  width: 80%;
  height: 500px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.slide {
  width: 90%;
  height: 90%;
  position: absolute;
  opacity: 0;
  transition: opacity ease-in-out 0.4s;
  flex-direction: row;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}


.slider-title {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;


}

.obj-title {
  max-width: 400px;
  height: 109px;
  left: 0px;
  top: 32.83px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 56px;

  text-align: center;

  color: #5F3627;
}

.subtitle {
  width: 422.76px;
  text-align: center;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  line-height: 32px;
  margin-top: -20px;
  text-align: center;


}


.slide img {
  width: 450px;
  height: 289.66px;
  border-radius: 30px;
  flex: none;
  order: 1;
  flex-grow: 0;


}

.active-anim {
  opacity: 1;
}

.btn-slide {
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: none;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn-slide img {
  width: 25px;
  height: 25px;
  pointer-events: none;
}

.prev {
  top: 50%;
  left: 20px;
  transform: translateY(-60%);
}

.next {
  top: 50%;
  right: 20px;
  transform: translateY(-60%);
}


.container-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;

}

.dot {
  width: 20px;
  height: 10px;
  background: rgba(122, 145, 167, 0.35);
  border-radius: 10px;
}

.dot.active {
  width: 60px;
  height: 10px;

  background: #7A91A7;
  border-radius: 10px;
}

.right-pattern {
  position: absolute;
}

.left-pattern {
  position: absolute;
  justify-content: end;
  display: flex;
  float: right;
  margin-left: 1730px;
  margin-top: -400px;

}

.slider-icon {
  min-width: 60px;
  min-height: 60px;
}